@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    html{
        --color-background: #000000;
        --color-foreground: #ffffff;
    }
    html[data-theme="light"]{
        --color-foreground: #000000;
        --color-background: #ffffff;
    }
}



input, textarea {
    @apply bg-transparent text-foreground
}